@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html {
  min-height: 100%;
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

body {
  background-color: #fff;
  color: #0f172a;
}

::selection {
  background: #1f2937;
  color: #fff;
}
